@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Kolker+Brush&family=Open+Sans:wght@300;400;500;800&family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,500&display=swap');
.about{
    // position: relative;
    width: 100%;
    // height: 100vh;
    overflow: visible;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center !important;
    justify-content: center !important;
    // background-color: aqua;
    margin-top: 10rem !important;
    // max-width: 100%;
    margin-bottom: 0 !important;
      }
      .abouts{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
justify-content: center;
font-size: medium;
max-width: 70%;
font-family: 'Satisfy', cursive !important;

      }
      
.heading{
    transition: margin 0.2s ease-in-out;
}
.heading .h3{
    // background: linear-gradient(red,blue);
    // color:linear-gradient(to right, #40e0d0 , #ff8c00, #ff0080);
color: rgb(255, 255, 255);
    background: linear-gradient(to right, #40e0d0 , #ff8c00, #ff0080 );
    font-size: 3rem !important;
    font-weight: 800;
    border-radius: 10px;
    transition: all 0.4s ease;
  font-family: Finger Paint,cursive;

      }
     
   


.para p{
    display: contents;
    align-items: center;
    justify-content: center;
    overflow-wrap: initial;
    font-family: 'Satisfy', cursive !important;
margin-top: 10px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
}
.name{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center !important;
  justify-content: center !important;
}
.skill-icon{
  display: flex;
  margin-top: 10rem;
  // margin-bottom: 10rem;
  flex-direction: row;
    align-items: center;
    justify-content: center ;
    width: 100%;
}
.skills-icons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skills{
  font-family: 'Finger Paint',cursive;
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
    line-height: 1;
  // font-size: 2.5rem;
  color: #fff;
  // margin-bottom: 4rem;
  // font-weight: 600;
}
.space{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
}
.scroll{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center !important;
  justify-content: center !important;
}
.moving-icons{
  width: 80px;
  height: 80px;
  transform: perspective(25px) rotateX(0deg) rotateY(0deg) scale(1);
  transition: all 1s ease;
  align-items: center !important;
  justify-content: center !important;
}
.moving-icons:hover{
  // transform: perspective(40px) rotateX(-0.6deg) rotateY(-0.5deg) scale(1.5);
  transform: rotate3d(1,1.5,0,20deg) scale(1.5);
  
}
@media all and (max-width:960px)
{
  .skill-icon{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-icons{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .skills{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  .space{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .scroll{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center !important;
    justify-content: center !important;
  }
  .moving-icons{
    display: flex;
    flex-direction: column !important;
    // width: 50% !important;
    // height: 50% !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .name{
    
    font-weight: 600;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.3rem;
  }

.heading .h3{
  font-size: 3rem !important;
  font-family: 'Finger Paint',cursive;


}
.para p{
  font-size: 1.5rem;
    font-weight: 900;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
}
@media all and (max-width:680px)
{
  .heading .h3{
    font-size: 2.3rem !important;
    font-family: 'Finger Paint',cursive;
  }
  .para p{
    font-size: 1.2rem !important;
  }
  .skills{
    font-size: 2.3rem ;
  }
  .moving-icons{
    width: 80%;
    // height: 80%;
  }
}
