.grid-three-coloumn{
    grid-template-columns: repeat(4,1fr);
}
.section-project
{
    background: var(--bg);
    transition: all 0.7s linear;
}
.containers{
    margin: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    // margin-bottom: 10rem;
    width: 100%;
    font-size: 1.5rem;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 5rem;
    // gap: 2rem;
    width: 100%;
    
}
.project-headding{
    display: flex;
    flex-direction: column;
    position:relative;
    width:80%;
    margin-top: 0px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.project-heading{
    font-size: 3rem;
    border-radius: 7px;
    // background: linear-gradient(to right, #40e0d0 , #ff8c00, #ff0080 );


}
.project-para{
    font-size: 1.5rem;
    font-weight: 900;
}
.image{
    width: 120% !important;
    height: 120% !important;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}
.img-overlay{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.img-overlay .overlay{
    position: absolute;
    top:0;
    left:0; 
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(89, 200, 245),rgb(243, 90, 235));
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
    border-radius: 7px;
}
.img-overlay:hover >.overlay{
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.common-heading{
    margin: 0;
    color: aliceblue;
    text-decoration: none;

}
@media all and (max-width:600px) {
    .project-heading{
        font-size: 2rem !important;
        margin-top: 0px;
    }
    .project-para{
        font-size: 1rem;
    font-weight: 900;
    }
}
