@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Delicious+Handrawn&family=Lobster&family=Rampart+One&family=Satisfy&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    // overflow-x: scroll;

}
#bg{
    width: 100%;
}
body{
    background: #0a2a43;
    min-height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;

}
.navb{
   
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-direction: column;
}
.mouni{
    align-items: flex-start;
}
#navbar-example2{
    align-items: center;
    justify-content: center;
    background: #bcb5b8 ;
    width: 100%;

}
.navbar-brand{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Delicious Handrawn', cursive;
    color: #ae00ff;
    
}
.nav-pills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    // font-size: small;
}
.nav-link{
    font-size: large;
    font-family: 'Courgette', cursive;
}
.nav-link:hover{
    color: #000000;
    font-size: large;
    box-shadow:0px 2px 0px 0px #295883;
    border-radius: 40%;

}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    // height: 100vh;
}
section{
    margin-top: 0px !important;
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
section:before{
    content: '';
    position: absolute;
    bottom:0 ;
    width: 100%;
    height: 80px;
    background: linear-gradient(to top, #0a2a43,transparent);
    z-index: 10000;
}
.icon a{
    text-decoration: none;
    font-size: smaller;
    color: beige;
}
.icon a:hover{
    color: #fff;
}
section:after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    // background:#0a2a43;
    z-index: 10000;
    // mix-blend-mode: color;
}
section img{
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
object-fit: contain;
pointer-events: none;

}
#text{
    position: relative;
    color: #fff;
    font-size: 6em;
    z-index:1;
object-fit: contain;

}
#road{
    z-index: 2;
}

.typing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    // min-height: 100vh;
}
.wrapper{
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.wrapper .dynamic-txt{
margin-left: 15px;
width: 100%;
height: 90px;
line-height: 90px;
align-items: center;
justify-self: center;
//    background-color: red;
overflow: hidden;
}
.dynamic-txt li{
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    color: rgb(26, 159, 208);
    position:relative;
    top: 0;
    align-items: center;
    animation: slide 6s steps(4) infinite
}
.list{
    align-items: center;
    justify-content: center;
// font-family: 'Delicious Handrawn', cursive;
// font-family: 'Lobster', cursive;
font-family: 'Rampart One', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'Tilt Prism', cursive;

}

@keyframes slide{
    100%{
        top: -360px;;
    }
}
.dynamic-txt li span{
   position:relative;
  

}
.icon{
    color: #ae00ff;
    font-family: 'Satisfy', cursive !important;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    left:0;
    height:127%;
    background-color: #0a2a43;
    align-items: center;
    justify-content: center;
    color: aliceblue !important;
    width: 100%;
    border-left: 2px solid  rgb(26, 159, 208)  ;
    animation: typing 1.5s steps(10) infinite
}
@keyframes typing{
    100%{
        left:100%;
        margin: 0 -35px 0 35px;
    }
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;

}
.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    // word-spacing: 10px;
    
}
.icon .sym :hover{
    cursor: pointer;
    color: rgb(136, 105, 105);
    background-color: #fff;
    border-radius: 50%;
}
.dog{
    background-color: #f1ebeb !important;
    width: 100px;
    height: 100px;
}
@media all and (max-width:900px)
{
    #navbar-example2{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
    }
    .navbar-brand{
        display: none;
        // gap:1px
    }
    .nav-pills{
        gap:10px
    }
    .wrapper .dynamic-txt{
display: none;
    }
    .icons{
        width:100%;
        margin-bottom: 0px;
    }
   #text{
    font-size: 80px;   }
       
}

@media all and (max-width:650px)
{
    #text{
        font-size: 60px;   }

        #navbar-example2{
        align-items: center;
        justify-content: center;
        }
}